[submodule "vlm_ros"]
	path = vlm_ros
	url = https://github.com/UWRobotLearning/vlm_ros.git
[submodule "trajectory_prediction"]
	path = trajectory_prediction
	url = https://github.com/UWRobotLearning/trajectory_prediction.git
[submodule "navigate"]
	path = navigate
	url = https://github.com/UWRobotLearning/navigate.git
[submodule "trajectory_projection"]
	path = trajectory_projection
	url = https://github.com/UWRobotLearning/trajectory_projection.git
